@import url(https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css);
@import url(https://discordstyles.github.io/HorizontalServerList/resizablelist.css);
:root {
  --guildicon-size: 48;
  --enable-if-using-favorites-experiment: 0;
  --guildlist-collapse: 0;
  --slide-window-on-hover: 1;
  --float-sidebar-width: 48;
  --sidebar-hover-width: 240px;
  --sidebar-hover-delay: 0.2s;
  --sidebar-transition-duration: 0.4s;
  --sidebar-window-gap: 8px;
  --sidebar-border-radius: 8px;
  --sidebar-usersettings-width: 66px;
  --float-members-width: 65px;
  --members-hover-width: 240px;
  --members-hover-delay: 1.5s;
  --members-transition-duration: 0.4s;
  --topic-opacity: 1;
  --toolbar-visibility: flex;
  --textarea-buttons-gif: flex;
  --textarea-buttons-sticker: flex;
  --textarea-buttons-gift: none;
}

:root {
  --guildicon-size-px: calc(var(--guildicon-size) * 1px);
  --server-size: calc(var(--guildicon-size) * 1px);
  --float-sidebar-width-px: calc(var(--float-sidebar-width) * 1px);
  --sidebar-transition-exit: var(--sidebar-transition-duration) ease;
  --sidebar-transition-entry: var(--sidebar-transition-duration) var(--sidebar-hover-delay) ease;
  --members-transition-calc-entry: width var(--members-transition-duration) var(--members-hover-delay) ease, var(--members-transition-calc-box-shadow);
  --members-transition-calc-exit: width var(--members-transition-duration) ease, var(--members-transition-calc-box-shadow);
  --members-transition-calc-box-shadow: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

.sidebar_ded4b5 {
  overflow: hidden;
}

.bar__004d9 {
  white-space: nowrap;
}

.layout_bb8e67 .wrappedName__88f2c {
  white-space: nowrap;
}

.sidebar_ded4b5 .wrapper__7bcde .link__95dc0 > .children_a486f8 {
  margin-left: calc((min(var(--float-sidebar-width), 96) - min(var(--float-sidebar-width), 97) + 1) * 32px);
  transition: margin-left var(--sidebar-transition-exit);
}

.sidebar_ded4b5:hover .wrapper__7bcde .link__95dc0 > .children_a486f8 {
  margin-left: 0;
  transition: margin-left var(--sidebar-transition-entry);
}

/* .wrapper_a7e7a8:hover+div.base__3e6af .wrapper__7bcde .link__95dc0>.children_a486f8 {
    --capped-sidebar-width: min(var(--float-sidebar-width), 96);
    --cap-sidebar-exceeded: calc(min(var(--float-sidebar-width), 97) - var(--capped-sidebar-width));
    margin-left: calc((var(--capped-sidebar-width) / var(--capped-sidebar-width) - var(--cap-sidebar-exceeded)) * 32px);
} */
#app-mount .app_b1f720 .sidebar_ded4b5 {
  position: absolute;
  z-index: 101;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  transition: width var(--sidebar-transition-exit);
}

.platform-win #app-mount .sidebar_ded4b5 {
  border-top-right-radius: var(--sidebar-border-radius);
}

#app-mount .app_b1f720 .animatedContainer__341f6,
.bannerImage__39c51,
.bannerImg_c85b7f {
  width: 100%;
}

.sidebar_ded4b5 .channel_c21703 {
  max-width: unset;
}

.container__4f639 {
  white-space: nowrap;
}

.platform-win .sidebar_ded4b5 + div,
.platform-win .sidebar_ded4b5 ~ .chat__52833 .platform-win .sidebar_ded4b5 ~ .container__5c7e7 {
  border-top-left-radius: var(--sidebar-border-radius);
}

.sidebar_ded4b5:hover .privateChannels__93473 .closeButton__8f1fd {
  animation: floatChannelDmsPrivateChannelsCloseButton var(--sidebar-transition-duration) var(--sidebar-hover-delay) forwards;
}

.sidebar_ded4b5 > * {
  width: var(--float-sidebar-width-px);
  transition: width var(--sidebar-transition-exit);
}

.base__3e6af .content__4bf10 .sidebar_ded4b5:hover > * {
  width: var(--sidebar-hover-width);
  transition: width var(--sidebar-transition-entry);
}

.sidebar_ded4b5 + div,
.sidebar_ded4b5 ~ .chat__52833,
.sidebar_ded4b5 ~ .container__5c7e7 {
  margin-left: calc(min(1, var(--float-sidebar-width)) * (var(--float-sidebar-width-px) + var(--sidebar-window-gap)));
  transition: transform var(--sidebar-transition-exit);
}

.sidebar_ded4b5:hover + div,
.sidebar_ded4b5:hover ~ .chat__52833,
.sidebar_ded4b5:hover ~ .container__5c7e7 {
  transform: translateX(calc(var(--slide-window-on-hover) * (var(--sidebar-hover-width) - var(--float-sidebar-width-px) + var(--slide-window-on-hover) * (1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-window-gap))));
  transition: transform var(--sidebar-transition-entry);
}

.wrapper_a7e7a8:hover + .base__3e6af .sidebar_ded4b5 > * {
  width: calc(min(var(--float-sidebar-width), 1) * var(--float-sidebar-width) * 1px + (1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-hover-width));
  transition: width var(--sidebar-transition-entry);
}

.wrapper_a7e7a8:hover + .base__3e6af .sidebar_ded4b5 + div,
.wrapper_a7e7a8:hover + .base__3e6af .sidebar_ded4b5 ~ .chat__52833,
.wrapper_a7e7a8:hover + .base__3e6af .sidebar_ded4b5 ~ .container__5c7e7 {
  transform: translateX(calc(var(--slide-window-on-hover) * (min(var(--float-sidebar-width), 1) * min(var(--float-sidebar-width), 0) * 1px + (1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-hover-width) + var(--slide-window-on-hover) * (1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-window-gap))));
  transition: transform var(--sidebar-transition-entry), margin-left var(--sidebar-transition-entry);
}

.sidebar_ded4b5 .privateChannels__93473,
.sidebar_ded4b5 .privateChannels__93473 + .panels__58331,
.sidebar_ded4b5 > .thin_b1c063,
.sidebar_ded4b5 > .thin_b1c063 + .panels__58331 {
  width: calc(min(1, var(--float-sidebar-width)) * (var(--float-sidebar-width-px) + 17px));
}

.sidebar_ded4b5 + .container__5c7e7,
.sidebar_ded4b5 + .applicationStore_fc7d76,
.sidebar_ded4b5 + .pageWrapper_fef757 {
  margin-left: calc(min(1, var(--float-sidebar-width)) * (var(--float-sidebar-width-px) + var(--sidebar-window-gap) + 17px));
  transition: transform var(--sidebar-transition-exit), margin-left var(--sidebar-transition-exit);
}

.sidebar_ded4b5:hover + .container__5c7e7,
.sidebar_ded4b5:hover + .applicationStore_fc7d76,
.sidebar_ded4b5:hover + .pageWrapper_fef757 {
  margin-left: calc(min(1, var(--float-sidebar-width)) * (var(--float-sidebar-width-px) + var(--sidebar-window-gap) + 0px + (1 - var(--slide-window-on-hover)) * min(var(--float-sidebar-width), 1) * 17px));
  transition: transform var(--sidebar-transition-entry), margin-left var(--sidebar-transition-entry);
}

.wrapper_a7e7a8:hover + .base__3e6af .sidebar_ded4b5 .privateChannels__93473,
.wrapper_a7e7a8:hover + .base__3e6af .sidebar_ded4b5 .privateChannels__93473 + .panels__58331,
.wrapper_a7e7a8:hover + .base__3e6af .sidebar_ded4b5 > .thin_b1c063,
.wrapper_a7e7a8:hover + .base__3e6af .sidebar_ded4b5 > .thin_b1c063 + .panels__58331 {
  width: calc(min(var(--float-sidebar-width), 1) * (var(--float-sidebar-width) + 17) * 1px + (1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-hover-width));
}

.topic__16ae3 {
  flex-grow: 0;
}

.container__11d72,
.children__32014 .iconWrapper_af9215 > svg {
  -webkit-app-region: drag;
}

.toolbar__88c63 > *,
.platform-win .topicClickTarget_eeb305,
.cursorPointer__5116a.title__9e2b0,
.sidebarRegion__60457,
.closeButton__34341,
.menu_dc52c6 {
  -webkit-app-region: no-drag;
}

.container__11d72 .children__32014 .iconWrapper_af9215 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__11d72 .children__32014 .icon__4cb88 {
  width: 20px;
  height: 20px;
  -webkit-app-region: no-drag;
}

.container__11d72 .children__32014 .divider_c09b64 {
  display: none;
}

#app-mount .container__11d72 .children__32014:after {
  display: none;
}

.container__11d72.themed_b152d4 .topic__16ae3.expandable_ddf73d {
  opacity: var(--topic-opacity);
}

#app-mount .sidebar_ded4b5 + div:not(.container__5c7e7) .container__11d72:not(.transparent__7f3e0) .toolbar__88c63 > div:nth-last-child(-n+2),
#app-mount .sidebar_ded4b5 ~ .chat__52833 .container__11d72:not(.transparent__7f3e0) .toolbar__88c63 > div:nth-last-child(-n+2) {
  order: 1;
}

#app-mount .toolbar__88c63 .iconWrapper_af9215:nth-last-child(4) {
  order: 3;
}

#app-mount .toolbar__88c63 .search__07df0 {
  order: 2;
}

.toolbar__88c63 .search__07df0 {
  margin: 0 4px;
}

.searchBar_e0c60b .public-DraftEditorPlaceholder-inner {
  color: var(--text-muted);
}

.searchBar_e0c60b .icon_f50f05 {
  color: var(--interactive-normal);
}

#app-mount .toolbar__88c63 .searchBar_e0c60b {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  transition: width 0.25s ease;
}

#app-mount .toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b {
  background-color: transparent;
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b {
  box-shadow: none;
  cursor: pointer;
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b .iconLayout__9fbb1 {
  cursor: pointer;
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b:hover .icon_f50f05 {
  color: var(--interactive-hover);
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b:active .icon_f50f05,
.toolbar__88c63 .search_ac353c.open_d3ab4e .searchBar_e0c60b .icon_f50f05 {
  color: var(--interactive-active);
}

#app-mount .toolbar__88c63 .search_ac353c.open_d3ab4e .searchBar_e0c60b {
  display: flex;
  width: 240px;
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b:hover {
  background-color: var(--background-modifier-hover);
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b:active {
  background-color: var(--background-modifier-active);
}

.toolbar__88c63 .searchBar_e0c60b > .icon__46425 {
  order: -1;
}

.toolbar__88c63 .search_ac353c .DraftEditor-root {
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: 100%;
}

.toolbar__88c63 .search_ac353c .DraftEditor-root .DraftEditor-editorContainer {
  width: 100%;
}

.toolbar__88c63 .search_ac353c .DraftEditor-root .public-DraftEditor-content::-webkit-scrollbar {
  display: none;
}

.toolbar__88c63 .search_ac353c .DraftEditor-root .public-DraftEditor-content,
.search_ac353c .DraftEditor-root .public-DraftEditorPlaceholder-root {
  padding-bottom: 0;
}

.toolbar__88c63 .search_ac353c .searchBar_e0c60b .iconContainer__8fa9c {
  transition: width 0.25s ease, height 0.25s ease;
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b .iconContainer__8fa9c {
  width: 18px;
  height: 18px;
}

.search_ac353c .DraftEditor-root .public-DraftEditorPlaceholder-root {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.toolbar__88c63 .search_ac353c.open_d3ab4e .DraftEditor-root .public-DraftEditorPlaceholder-root {
  opacity: 1;
}

.toolbar__88c63 a[href="https://support.discord.com"] {
  display: none;
}

.container__11d72:not(.transparent__7f3e0) .toolbar__88c63 > div:not(:nth-last-child(-n+4)),
.sidebar_ded4b5 + div:not(.container__5c7e7) .container__11d72:not(.transparent__7f3e0) .toolbar__88c63 > div:nth-last-child(-n+2),
.sidebar_ded4b5 ~ .chat__52833 .container__11d72:not(.transparent__7f3e0) .toolbar__88c63 > div:nth-last-child(-n+2) {
  display: var(--toolbar-visibility);
}

.container__11d72:not(.transparent__7f3e0) .toolbar__88c63:hover > div:not(:nth-last-child(-n+4)),
.sidebar_ded4b5 + div:not(.container__5c7e7) .container__11d72:not(.transparent__7f3e0) .toolbar__88c63:hover > div:nth-last-child(-n+2),
.sidebar_ded4b5 ~ .chat__52833 .container__11d72:not(.transparent__7f3e0) .toolbar__88c63:hover > div:nth-last-child(-n+2),
.sidebar_ded4b5 + div:not(.container__5c7e7) .container__11d72:not(.transparent__7f3e0) .toolbar__88c63 > div.selected_be2668,
.sidebar_ded4b5 ~ .chat__52833 .container__11d72:not(.transparent__7f3e0) .toolbar__88c63 > div.selected_be2668 {
  display: flex;
}

.toolbar__88c63 {
  -webkit-app-region: no-drag;
}

.container__11d72:not(.transparent__7f3e0) .toolbar__88c63 .iconWrapper_af9215 {
  width: 28px;
  height: 28px;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__11d72:not(.transparent__7f3e0) .toolbar__88c63 .iconWrapper_af9215 .icon__4cb88 {
  width: 20px;
  height: 20px;
}

.cozy_f5c119 .contents_f41bb2 .header__39b23 {
  display: flex;
}

.cozy_f5c119 .headerText_f47574 {
  min-width: 0;
  white-space: nowrap;
  display: flex;
}

.cozy_f5c119 .headerText_f47574 .username_d30d99 {
  display: block;
  text-overflow: ellipsis;
  flex: 1 1;
}

.cozy_f5c119 .timestampInline__470e0 {
  white-space: nowrap;
  margin-top: 1px;
}

.cozy_f5c119 .headerText_f47574 .PI-indicatorContainer {
  margin-top: 1px;
}

.message__80c10 {
  padding-right: 12px !important;
}

.buttonContainer__8b164:not(#sendAudioButtons):not(.send-button) .button_afdfd9[aria-label]:not(.apateEncryptionKeyButton) .button_f0455c:not(.stickerButton__8af38) {
  display: var(--textarea-buttons-gif);
}

.stickerButton__8af38 {
  display: var(--textarea-buttons-sticker);
}

.buttons_ce5b56 > .button_afdfd9:not(.BD-TeX-plugin-button) > :not(.translateButton-DhP9x8) {
  display: var(--textarea-buttons-gift);
}

.content__1a4fe > .container_b2ce9c {
  margin-left: var(--float-members-width);
}

.members__9f47b {
  width: 100%;
}

.member_aa4760 {
  max-width: 100%;
}

/* BANDAID */
#app-mount .content__1a4fe > .membersWrap__90226:not(:hover) {
  position: relative;
}

#app-mount .membersWrap__90226 {
  position: absolute;
  right: 0;
  min-width: unset;
  width: var(--float-members-width);
  height: 100%;
  transition: var(--members-transition-calc-exit);
}

#app-mount .membersWrap__90226:hover {
  width: var(--members-hover-width);
  transition: var(--members-transition-calc-entry);
}

.content__1a4fe > .container_b2ce9c .membersWrap__90226:hover {
  box-shadow: var(--elevation-stroke), var(--elevation-high);
}

#app-mount .ChannelDms-channelmembers-wrap {
  width: var(--float-members-width);
  transition: var(--members-transition-calc-exit);
}

.ChannelDms-channelmembers-wrap:hover {
  box-shadow: var(--elevation-stroke), var(--elevation-high);
  transition: var(--members-transition-calc-entry);
}

.ChannelDms-channelmembers-wrap .container_b2ce9c,
.ChannelDms-channelmembers-wrap .privateChannels__93473 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.ChannelDms-channelmembers-wrap .privateChannels__93473 {
  height: calc(100% - 45px);
}

.ChannelDms-channelmembers-wrap .membersWrap__90226,
.ChannelDms-channelmembers-wrap .privateChannels__93473 {
  width: var(--float-members-width);
  transition: var(--members-transition-calc-exit);
}

#app-mount .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header {
  position: absolute;
  right: 0;
  width: var(--float-members-width);
  transition: var(--members-transition-calc-exit);
}

#app-mount .ChannelDms-channelmembers-wrap:hover .ChannelDms-channelmembers-header,
.ChannelDms-channelmembers-wrap:hover .membersWrap__90226,
.ChannelDms-channelmembers-wrap:hover .privateChannels__93473 {
  width: var(--members-hover-width);
  transition: var(--members-transition-calc-entry);
}

.ChannelDms-channelmembers-header .item__48dda {
  margin: 0 2px;
  transition: margin var(--members-transition-duration) ease;
}

.ChannelDms-channelmembers-wrap:hover .ChannelDms-channelmembers-header .item__48dda {
  margin: 0 8px;
  transition: margin var(--members-transition-duration) var(--members-hover-delay) ease;
}

.ChannelDms-channelmembers-wrap .channel_c21703 {
  max-width: unset;
}

.privateChannels__93473 .closeButton__8f1fd {
  width: 0;
  margin: 0;
  padding-right: 0;
}

.ChannelDms-channelmembers-wrap:hover .privateChannels__93473 .closeButton__8f1fd {
  animation: floatChannelDmsPrivateChannelsCloseButton var(--members-transition-duration) var(--members-hover-delay) forwards;
}

@keyframes floatChannelDmsPrivateChannelsCloseButton {
  to {
    width: 16px;
    margin: 2px;
    padding-right: 8px;
  }
}
html #MemberCount {
  width: 100%;
}

.searchResultsWrap__9f374 {
  position: absolute;
  top: -2px;
  right: 16px;
  max-width: 90%;
  max-height: 80%;
  border-radius: 4px;
  box-shadow: var(--elevation-stroke), var(--elevation-high);
  z-index: 1002;
}

.container_d91be8 {
  position: sticky;
  bottom: 0;
  background-color: var(--background-secondary);
  z-index: 1;
}

.container_b181b6 .headerRow__16d8e {
  min-width: 0;
}

.container_b181b6 .list__5ced9 > div:first-child {
  min-width: 0;
  width: calc(100% - 32px);
}

.layers__1c917 > .layer__2efaa .animating__27211 *,
.layers__1c917 > .layer__2efaa .animating__27211 {
  pointer-events: auto !important;
  will-change: unset;
}

.sidebar__9e3e2 .side_b4b3f6 .item__48dda::before {
  flex-shrink: 0;
}

.contentColumn_dc7d36,
.customColumn_e22a6e {
  min-width: unset;
  width: 0;
}

html #app-mount .layer__2efaa .layer__2efaa ~ .layer__2efaa .sidebar__9e3e2 {
  width: 100%;
}

html #app-mount .layer__2efaa .layer__2efaa ~ .layer__2efaa .sidebarRegion__60457 {
  position: relative;
  flex-grow: 0;
  flex-basis: var(--sidebar-usersettings-width) !important;
  z-index: 2;
}

.sidebarRegionScroller__1fa7e {
  position: absolute;
  height: 100%;
  left: calc(100% - var(--sidebar-usersettings-width));
  width: var(--sidebar-usersettings-width);
  justify-content: flex-start;
  transition: width var(--sidebar-transition-exit);
}

.sidebarRegionScroller__1fa7e:hover {
  width: var(--sidebar-hover-width);
  transition: var(--sidebar-transition-entry);
}

.sidebarRegion__60457 + .contentRegion__0bec1 {
  transition: transform var(--sidebar-transition-exit);
}

.sidebarRegion__60457:hover + .contentRegion__0bec1 {
  transform: translateX(calc(var(--slide-window-on-hover) * (var(--sidebar-hover-width) - var(--sidebar-usersettings-width))));
  transition: transform var(--sidebar-transition-entry);
}

.sidebar__9e3e2 .info__755e1 > *,
.sidebar__9e3e2 .socialLinks_c1fc99 {
  white-space: nowrap;
}

.userInfo__8f826 {
  flex-wrap: wrap;
}

.userInfo__8f826 {
  min-height: 72;
  height: unset;
}

.userSettingsVoice__33015 .children_b15c64 .flex_f5fbb7 > .flexChild__6e093 {
  flex: 1 0 190px !important;
}

.buttonContainer__0dac8 {
  width: unset;
  max-width: 300px;
  flex-wrap: wrap;
  gap: 8px 16px;
}

.buttonContainer__0dac8 > button {
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 142px;
  flex-basis: 50%;
  flex-grow: 1;
  margin-right: 0;
}

.bd-setting-header {
  flex-wrap: wrap;
}

.sessions__3ce76 .sessionMoreButton__055f9 {
  position: absolute;
  top: 12px;
  right: 0;
  display: none;
}

.sessions__3ce76 .session_f56359:hover .sessionMoreButton__055f9 {
  display: block;
}

.sessions__3ce76 .session_f56359 {
  position: relative;
}

.sessions__3ce76 .session_f56359 {
  gap: 12px;
}

.sessions__3ce76 .sessionInfo__9bc47 {
  gap: 0;
}

.sessions__3ce76 .eyebrow_e5a66c.sessionInfoRow_f3c7fd {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  font-family: var(--font-primary);
  text-transform: capitalize;
}

.sessions__3ce76 .text-sm-medium_bc6ffc.sessionInfoRow_f3c7fd {
  color: var(--channels-default);
}

.sessions__3ce76 .sessionIcon__540be {
  background: none;
  color: var(--interactive-normal);
}

.sessions__3ce76 .session_f56359.currentSession__5f5fd .sessionIcon__540be {
  color: var(--status-positive);
}

.children_b15c64 > .session_f56359:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

@media (max-width: 485px) {
  .fullscreenOnMobile__96797:not(.detailsAdded-fHiJlm) {
    top: unset;
  }
  .root_a28985 .quickswitcher_a3d29a,
  .container_f03f1d,
  .container_dc03c3 {
    width: 100%;
  }
  .operations__07224 {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    left: 0;
    justify-content: center;
  }
  .imageWrapper_fd6587 > .downloadLink_e5ebe9 {
    width: -moz-max-content;
    width: max-content;
  }
  .modal_d2e7a7.root_a28985.fullscreenOnMobile__96797 {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    pointer-events: none;
  }
  .modal_d2e7a7.root_a28985.fullscreenOnMobile__96797 > div {
    pointer-events: auto;
  }
  .modeSelected__487d6 .wrapper__7bcde {
    background-color: var(--background-modifier-selected);
  }
}