 /**
 * @name Float
 * @author Cedrick, Disease
 * @version 0.0.2
 * @description A discord window that is minimal and transparent. Works best with Microsoft Powertoys Always On Top enabled.
 * @source https://github.com/cedrickzedd/Float
*/

:root {
    --guildbar-width: 56px;
    --compact-background-color: var(--background-primary);
    --compact-background-opacity: 0.8;
}

/*transition*/
.container-ZMc96U,
.bg-1QIAus,
.wrapper-3HVHpV,
.wrapper-3HVHpV>*,
body,
.chat-2ZfjoI,
.app-2CXKsg,
.appMount-2yBXZl,
.container-ZMc96U.themed-Hp1KC_,
.container-1eFtFS,
.container-1NXEtd,
.wrapper-3HVHpV,
.wrapper-3HVHpV>*,
.privateChannels-oVe7HL,
.scroller-WSmht3,
.container-2cd8Mz,
.guilds-2JjMmN .wrapper-28eC3z,
.guilds-2JjMmN [class*="guildsError-"],
.guilds-2JjMmN svg[width="48"],
.listItem-3SmSlK {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.scroller-3X7KbA,
.wrapper-1_HaEi {
    background-color: var(--background-tertiary);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.container-2o3qEW,
.sidebar-1tnWFu {
    width: 240px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

@media (max-width: 939px) {
    .container-2o3qEW {
        width: 0 !important;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
    }
}

@media (max-width: 700px) {

    .bg-1QIAus,
    .wrapper-3HVHpV,
    .wrapper-3HVHpV>*,
    body,
    .chat-2ZfjoI,
    .app-2CXKsg,
    .appMount-2yBXZl,
    .container-ZMc96U.themed-Hp1KC_,
    .container-1eFtFS,
    .container-1NXEtd,
    .wrapper-3HVHpV,
    .wrapper-3HVHpV>*,
    .privateChannels-oVe7HL,
    .scroller-WSmht3,
    .container-2cd8Mz,
    .scroller-3X7KbA,
    .wrapper-1_HaEi,
    .container-ZMc96U,
    .sidebar-1tnWFu,
    .guilds-2JjMmN .wrapper-28eC3z,
    .guilds-2JjMmN [class*="guildsError-"],
    .guilds-2JjMmN svg[width="48"],
    .listItem-3SmSlK {
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
    }

    .container-ZMc96U,
    .iconWrapper-2awDjA>svg {
        -webkit-app-region: drag;
    }

    .bg-1QIAus,
    .wrapper-3HVHpV,
    .wrapper-3HVHpV>* {
        background-color: var(--compact-background-color);
        opacity: var(--compact-background-opacity);
    }

    body,
    .chat-2ZfjoI,
    .app-2CXKsg,
    .appMount-2yBXZl,
    .container-ZMc96U.themed-Hp1KC_,
    .container-1eFtFS,
    .container-1NXEtd,
    .wrapper-3HVHpV,
    .wrapper-3HVHpV>*,
    .privateChannels-oVe7HL,
    .scroller-WSmht3,
    .container-2cd8Mz,
    .scroller-3X7KbA,
    .wrapper-1_HaEi {
        background-color: transparent !important;
    }

    .container-2o3qEW,
    .children-3xh0VB::after,
    .form-3gdLxP::before,
    .content-1jQy2l::before,
    .tabBody-2dgbAs::before,
    .scroller-2qwVWY::-webkit-scrollbar,
    .protip-1jXzAl.inline-1zjmuk,
    .divider-q3P9HC,
    .topic-11NuQZ.expandable-3CaLeS,
    .note-OhIxFa,
    .toolbar-3_r2xA .iconWrapper-2awDjA {
        display: none;
    }

    /*chat header*/
    .container-ZMc96U {
        height: 32px !important;
    }

    /*collapse channel*/
    .sidebar-1tnWFu {
        -webkit-box-shadow: var(--elevation-high);
        box-shadow: var(--elevation-high);
        border-radius: 8px 8px 0 0 !important;
        width: 0 !important;
        position: fixed;
        height: calc(100% - 32px);
        z-index: 3;
        bottom: 0;
    }

    .wrapper-1_HaEi:hover+.base-2jDfDU>.content-1SgpWY>.sidebar-1tnWFu {
        width: 240px !important;
    }

    .sidebar-1tnWFu:hover {
        width: 240px !important;
    }

    /*search bar*/
    .searchBar-zdmu7v {
        width: 28px !important;
        background-color: transparent;
    }

    .chat-2ZfjoI .search-39IXmY .searchBar-zdmu7v:hover,
    .chat-2ZfjoI .search-39IXmY .search-1FM8Qc.focused-8aNhVB .searchBar-zdmu7v,
    .chat-2ZfjoI .search-39IXmY .search-1FM8Qc.open-3y3yI_ .searchBar-zdmu7v {
        background-color: var(--background-tertiary);
        width: 240px !important;
    }

    .full-motion .searchBar-zdmu7v {
        -webkit-transition: background-color .25s ease, width .25s ease;
        transition: background-color .25s ease, width .25s ease;
    }

    /*search results*/
    .searchResultsWrap-5RVOkx {
        position: absolute;
        top: 4px;
        right: 16px;
        max-width: 80%;
        height: 70%;
        border-radius: 8px;
        -webkit-box-shadow: var(--elevation-high);
        box-shadow: var(--elevation-high);
    }

    /*minimal mode guilds by smolAlli*/
    .guilds-2JjMmN {
        width: var(--guildbar-width);
    }

    .guilds-2JjMmN .wrapper-z5ab_q {
        height: calc(var(--guildbar-width) * 0.625) !important;
    }

    .guilds-2JjMmN .wrapper-z5ab_q span {
        max-height: calc(var(--guildbar-width) * 0.375) !important;
    }

    .guilds-2JjMmN div[style*="height: 56px"],
    .guilds-2JjMmN [role=group] {
        height: auto !important;
    }

    .guilds-2JjMmN .listItem-GuPuDH,
    .guilds-2JjMmN [class*="unreadMentionsIndicator"],
    .guilds-2JjMmN .wrapper-3Njo_c {
        width: 100%;
    }

    .guilds-2JjMmN .wrapper-28eC3z,
    .guilds-2JjMmN [class*="guildsError-"],
    .guilds-2JjMmN svg[width="48"] {
        width: calc(var(--guildbar-width) * 0.625) !important;
        height: calc(var(--guildbar-width) * 0.625) !important;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
    }

    .guilds-2JjMmN .wrapper-3Njo_c>span {
        left: calc(var(--guildbar-width) * 0.175) !important;
        width: calc(var(--guildbar-width) * 0.625) !important;
    }

    .guilds-2JjMmN #bd-pub-button {
        height: calc(var(--guildbar-width) * 0.375) !important;
        line-height: calc(var(--guildbar-width) * 0.375) !important;
        font-size: 10px;
    }

    .listItem-3SmSlK {
        width: var(--guildbar-width) !important;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
    }

    /* Makes open folders look normal */
    .expandedFolderBackground-1kSAf6 {
        left: calc(var(--guildbar-width) * 0.2) !important;
        width: calc(var(--guildbar-width) * 0.625) !important;
    }
}
