@import url(https://smolalli.github.io/Themes/MinimalMode/source.css) (max-width: 700px);

:root {
    --header-height: 40px;
    --guildbar-width: 56px;
    --sidebar-width: 240px;

    --float-app-opacity: 100%;
    --float-app-transition-speed: 0.5s;
    --float-channel-width: 240px;
    --float-sidebar-hide-width: 40px;
    --float-guildbar-hover-speed: 0.5s;
}

/* return transition */
/* 400 */
.cozy-VmLDNB .repliedMessage-3Z6XBG:before,
.contents-2MsGLg img,
/* 700 */
#app-mount,
.sidebar-1tnWFu,
.container-ZMc96U {
    -webkit-transition: var(--float-app-transition-speed) ease;
    transition: var(--float-app-transition-speed) ease;
}

.guilds-2JjMmN,
.guilds-2JjMmN div,
.guilds-2JjMmN svg {
    -webkit-transition: height var(--float-app-transition-speed) ease, width var(--float-app-transition-speed) ease;
    transition: height var(--float-app-transition-speed) ease, width var(--float-app-transition-speed) ease;
}

.cozy-VmLDNB.wrapper-30-Nkg {
    -webkit-transition: padding-left var(--float-app-transition-speed) ease;
    transition: padding-left var(--float-app-transition-speed) ease;
}

@media (min-width: 400px) {
    .cozy-VmLDNB.wrapper-30-Nkg .avatar-2e8lTP {
        transform: scale(1);
        width: 40px;
        height: 40px;
    }

    .cozy-VmLDNB.wrapper-30-Nkg {
        padding-left: 72px;
    }

    .buttons-3dF5Kd {
        transform: scale(0.75);
        transform-origin: right;
    }
}

@media (max-width: 300px) {

    .toolbar-3_r2xA {
        display: none;
    }

    .wrapper-1_HaEi {
        width: 0 !important;
    }

    html.platform-osx #app-mount .base-2jDfDU {
        top: 0 !important;
    }

    html.platform-osx .children-3xh0VB {
        left: 56px;
    }

    html:not(.platform-osx) .chat-2ZfjoI {
        border-radius: 0 0 0 0 !important;
    }
}

@media (max-width: 400px) {

    .cozy-VmLDNB .repliedMessage-3Z6XBG:before,
    .contents-2MsGLg img {
        -webkit-transition: var(--float-app-transition-speed) ease;
        transition: var(--float-app-transition-speed) ease;
    }

    .cozy-VmLDNB .repliedMessage-3Z6XBG:before {
        --gutter: -1px;
    }

    .contents-2MsGLg img {
        left: 1px;
    }

    .cozy-VmLDNB.wrapper-30-Nkg {
        padding-left: 35px;
        -webkit-transition: padding-left var(--float-app-transition-speed) ease;
        transition: padding-left var(--float-app-transition-speed) ease;
    }

    .topic-11NuQZ.expandable-3CaLeS,
    .toolbar-3_r2xA>[aria-label="Threads"],
    .buttonContainer-2lnNiN:not(#sendAudioButtons):not(.send-button) .button-f2h6uQ[aria-label]:not(.apateEncryptionKeyButton) .button-2fCJ0o:not(.stickerButton-1-nFh2) {
        display: none;
    }

}

@media (max-width: 700px) {

    /* transition */
    #app-mount,
    .container-ZMc96U {
        -webkit-transition: var(--float-app-transition-speed) ease;
        transition: var(--float-app-transition-speed) ease;
    }

    .guilds-2JjMmN,
    .guilds-2JjMmN div,
    .guilds-2JjMmN svg {
        -webkit-transition: height var(--float-app-transition-speed) ease, width var(--float-app-transition-speed) ease;
        transition: height var(--float-app-transition-speed) ease, width var(--float-app-transition-speed) ease;
    }

    /* transparency */
    #app-mount {
        opacity: var(--float-app-opacity) !important;
    }

    /* draggable header */
    .container-ZMc96U,
    .children-3xh0VB .iconWrapper-2awDjA>svg {
        -webkit-app-region: drag;
    }

    .children-3xh0VB::after,
    .form-3gdLxP::before,
    .scroller-2qwVWY::-webkit-scrollbar,
    .protip-1jXzAl.inline-1zjmuk,
    .divider-q3P9HC,
    .note-OhIxFa {
        display: none;
    }

    /* toolbar */
    .toolbar-3_r2xA>[aria-label="Hide Member List"],
    .toolbar-3_r2xA>[aria-label="Show Member List"],
    .toolbar-3_r2xA>[aria-label="Pinned Messages"] {
        order: 1;
    }

    .toolbar-3_r2xA>[aria-label="Notification Settings"],
    .toolbar-3_r2xA>[aria-label="Add Friends to DM"],
    .toolbar-3_r2xA>[href="https://support.discord.com"] {
        display: none;
    }

    .iconWrapper-2awDjA>svg {
        width: 18px;
    }

    .layer-2aCOJ3 {
        max-width: 80%;
    }

    .messagesPopoutWrap-3zryHW {
        max-width: 100%;
    }

    .browser-mnQ1T7 {
        min-height: fit-content;
        min-width: unset;
        width: 100%;
        margin-left: 100px;
    }

    /* inbox */
    .toolbar-3_r2xA>[aria-label="Inbox"] {
        right: 16px !important;
        position: fixed !important;
        width: 0 !important;
        padding: 0 !important;
        pointer-events: none !important;
    }

    .toolbar-3_r2xA>[aria-label="Inbox"]>*,
    .toolbar-3_r2xA>[aria-label="Inbox"]::before {
        display: none !important;
    }

    .recentMentionsPopout-2bI1ZN {
        width: 70vw;
        min-width: 100%;
        max-height: 80vh;
    }

    /* search bar */
    .searchBar-zdmu7v {
        width: 28px !important;
        background-color: transparent;
    }

    .chat-2ZfjoI .search-39IXmY .searchBar-zdmu7v:hover,
    .chat-2ZfjoI .search-39IXmY .search-1FM8Qc.focused-8aNhVB .searchBar-zdmu7v,
    .chat-2ZfjoI .search-39IXmY .search-1FM8Qc.open-3y3yI_ .searchBar-zdmu7v {
        background-color: var(--background-tertiary);
        width: 240px !important;
    }

    .full-motion .searchBar-zdmu7v {
        -webkit-transition: background-color .25s ease, width .25s ease;
        transition: background-color .25s ease, width .25s ease;
    }

    /* search results */
    .searchResultsWrap-5RVOkx {
        position: absolute;
        top: 4px;
        right: 16px;
        max-width: 90%;
        max-height: 90vh;
        border-radius: 8px;
        -webkit-box-shadow: var(--elevation-high);
        box-shadow: var(--elevation-high);
        z-index: 2;
    }

    .searchBar-zdmu7v .clear-2KQ7l1::before {
        position: fixed;
        content: '';
        width: 100%;
        height: 100%;
        top: var(--header-height);
        left: var(--guildbar-width);
    }

    .container-1-h9mY {
        position: sticky;
        bottom: 0;
        background-color: var(--background-secondary);
        z-index: 1;
    }

    /* username */
    .cozy-VmLDNB .contents-2MsGLg .header-2jRmjb {
        display: flex;
    }

    .cozy-VmLDNB .headerText-2z4IhQ {
        min-width: 0;
        white-space: nowrap;
    }

    .cozy-VmLDNB .username-h_Y3Us {
        display: block;
        text-overflow: ellipsis;
    }

    .cozy-VmLDNB .timestampInline-_lS3aK {
        white-space: nowrap;
    }

    .message-2CShn3 {
        padding-right: 12px !important;
    }

    .stickerButton-1-nFh2,
    .buttons-uaqb-5>.button-f2h6uQ:not(.BD-TeX-plugin-button)> :not(.translateButton-DhP9x8) {
        display: none;
    }

    /* chat */
    .scroller-kQBbkU::-webkit-scrollbar {
        width: 12px;
    }

    .scroller-kQBbkU::-webkit-scrollbar-track {
        display: none;
    }

    /* image attachment resize */
    .imageWrapper-oMkQl4 {
        height: auto !important;
        width: unset !important;
    }

    .imageWrapper-oMkQl4 img, .wrapper-1FP9YQ {
        position: relative;
        height: auto !important;
        width: unset !important;
        max-width: 100%;
    }

    .imageDetails-1t6Zms {
        display: none;
    }

    .backdrop-2ByYRN {
        z-index: 1;
    }
    /* channel */
    html:not(.platform-osx) .base-2jDfDU {
        border-radius: 8px 0 0 0;
    }

    html.platform-osx .sidebar-1tnWFu {
        height: calc(100% - var(--header-height));
    }

    .sidebar-1tnWFu {
        position: fixed !important;
        -webkit-box-shadow: var(--elevation-high);
        box-shadow: var(--elevation-high);
        border-radius: 0 !important;
        width: 0 !important;
        height: calc(100% - 22px - var(--header-height));
        z-index: 3 !important;
        bottom: 0;
        -webkit-transition: var(--float-guildbar-hover-speed) ease;
        transition: var(--float-guildbar-hover-speed) ease;
    }

    .wrapper-1_HaEi:hover+.base-2jDfDU>.content-1SgpWY>.sidebar-1tnWFu {
        width: var(--float-channel-width) !important;
    }

    .sidebar-1tnWFu:hover {
        width: var(--float-channel-width) !important;
    }

    .container-YkUktl .noWrap-hBpHBz {
        overflow: hidden;
    }

    .container-YkUktl .noWrap-hBpHBz {
        display: flex;
        opacity: 1;
    }

    /* memberlist */
    .container-2o3qEW {
        position: fixed;
        right: 0;
        -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
        box-shadow: var(--elevation-stroke), var(--elevation-high);
        z-index: 2 !important;
    }

    .members-3WRCEx {
        border-radius: 8px 0 0 0;
    }

    .iconWrapper-2awDjA[aria-label="Hide Member List"]::before {
        position: fixed;
        content: '';
        width: var(--float-sidebar-hide-width);
        height: 100%;
        top: var(--header-height);
        right: var(--sidebar-width);
    }

    /* quick switcher */
    .quickswitcher-pKcM9U {
        padding-top: var(--header-height);
        width: 100%;
    }

    .container-qBnZJg {
        width: none;
        max-width: 100%;
    }

    /* nitro stuck warning */
    .applicationStore-2nk7Lo::before {
        content: "Welcome to Nitro Purgatory! To get out, press Ctrl + K and search for a friend.";
        display: block;
        position: absolute;
        top: calc(var(--header-height) + 20px);
        left: 15px;
        width: 80%;
        padding: 8px 16px;
        border-radius: 4px;
        color: #fff;
        background-color: #f04747;
        font-weight: 500;
        z-index: 999;
    }

    /* settings */
    #app-mount .layer-86YKbF~.layer-86YKbF {
        --settingsmodalwidth: 100%;
        --settingsmodalheight: 100%;
    }

    .sidebarRegion-1VBisG {
        position: fixed;
        height: 100%;
        z-index: 2;
    }

    .sidebarRegion-1VBisG:hover {
        -webkit-box-shadow: var(--elevation-high);
        box-shadow: var(--elevation-high);
    }

    #app-mount .layer-86YKbF~.layer-86YKbF .sidebar-nqHbhN {
        max-width: 56px !important;
        min-width: 56px;
        padding: 60px 6px 60px 15px !important;
        -webkit-transition: var(--float-guildbar-hover-speed) ease;
        transition: var(--float-guildbar-hover-speed) ease;
    }

    #app-mount .layer-86YKbF~.layer-86YKbF .sidebar-nqHbhN:hover {
        min-width: 213px;
        -webkit-box-shadow: var(--elevation-high);
        box-shadow: var(--elevation-high);
    }

    #app-mount .layer-86YKbF~.layer-86YKbF .header-2Kx1US {
        max-width: unset !important;
    }

    .contentRegion-3HkfJJ {
        padding-left: 56px;
    }

    .contentColumn-1C7as6,
    .customColumn-2n-oKU {
        min-width: unset;
        width: 0;
    }

    .header-1zd7se {
        padding-top: var(--header-height);
    }

    .toolsContainer-25FL6V {
        position: fixed;
        right: 0;
        top: calc(var(--header-height) - 2px);
        padding: 0;
        margin: 0 !important;
    }

    .contentRegionScroller-2_GT_N::-webkit-scrollbar {
        width: 12px;
    }

    .contentRegionScroller-2_GT_N::-webkit-scrollbar-track {
        display: none;
    }

    .root-g14mjS {
        height: fit-content;
        max-width: 100%;
        z-index: 2;
    }
}
