.layers__1c917>.layer_f7d46a .animating_b7d085 *,
.layers__1c917>.layer_f7d46a .animating_b7d085 {
    pointer-events: auto !important;
    will-change: unset;
}

.sidebar__02e8d .side_b4b3f6 .item__48dda::before {
    flex-shrink: 0;
}

.contentColumn__5f80b,
.customColumn__0b6a6 {
    min-width: unset;
    width: 0;
}

html #app-mount .layer_f7d46a .layer_f7d46a ~.layer_f7d46a  .sidebar__02e8d {
    width: 100%;
}

html #app-mount .layer_f7d46a .layer_f7d46a ~.layer_f7d46a  .sidebarRegion__36437 {
    position: relative;
    flex-grow: 0;
    flex-basis: var(--sidebar-usersettings-width) !important;
    z-index: 2;
}

.sidebarRegionScroller__8113e {
    position: absolute;
    height: 100%;
    left: calc(100% - var(--sidebar-usersettings-width));
    width: var(--sidebar-usersettings-width);
    justify-content: flex-start;
    transition: width var(--sidebar-transition-exit);
}

.sidebarRegionScroller__8113e:hover {
    width: var(--sidebar-hover-width);
    transition: var(--sidebar-transition-entry);
}

.sidebarRegion__36437+.contentRegion__08eba {
    transition: -webkit-transform var(--sidebar-transition-exit), transform var(--sidebar-transition-exit);
}

.sidebarRegion__36437:hover+.contentRegion__08eba {
    transform: translateX(calc(var(--slide-window-on-hover) * (var(--sidebar-hover-width) - var(--sidebar-usersettings-width))));
    transition: -webkit-transform var(--sidebar-transition-entry), transform var(--sidebar-transition-entry);
}

.sidebar__02e8d .info__755e1>*,
.sidebar__02e8d .socialLinks_dbdd6f {
    white-space: nowrap;
}

.userInfo_fb7651 {
    flex-wrap: wrap;
}

.userInfo_fb7651 {
    min-height: 72;
    height: unset;
}

.userSettingsVoice_aa8574 .children_aba8cb .flex_f18b02>.flexChild__3da10 {
    flex: 1 0 190px !important;
}

.buttonContainer__44ac1 {
    width: unset;
    max-width: 300px;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.buttonContainer__44ac1>button {
    min-width: fit-content;
    max-width: calc(150px - 8px);
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 0;
}

.bd-setting-header {
    flex-wrap: wrap;
}

.sessions__7b95a .sessionMoreButton_f38a79 {
    position: absolute;
    top: 12px;
    right: 0;
    display:none;
}

.sessions__7b95a .session__201cb:hover .sessionMoreButton_f38a79 {
    display: block;
}

.sessions__7b95a .session__201cb {
    position: relative;
}

.sessions__7b95a .session__201cb {
    gap: 12px;
}

.sessions__7b95a .sessionInfo_e3ad35 {
    gap: 0;
}

.sessions__7b95a .eyebrow_e5a66c.sessionInfoRow_a9ccc2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    font-family: var(--font-primary);
    text-transform: capitalize;
}

.sessions__7b95a .text-sm-medium_bc6ffc.sessionInfoRow_a9ccc2 {
    color: var(--channels-default);
}

.sessions__7b95a .sessionIcon_df2e9c {
    background: none;
    color: var(--interactive-normal);
}

.sessions__7b95a .session__201cb.currentSession__700d9 .sessionIcon_df2e9c {
    color: var(--status-positive);
}

.children_aba8cb > .session__201cb:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
