.layers__1c917>.layer__2efaa .animating__27211 *,
.layers__1c917>.layer__2efaa .animating__27211 {
    pointer-events: auto !important;
    will-change: unset;
}

.sidebar__9e3e2 .side_b4b3f6 .item__48dda::before {
    flex-shrink: 0;
}

.contentColumn_dc7d36,
.customColumn_e22a6e {
    min-width: unset;
    width: 0;
}

html #app-mount .layer__2efaa .layer__2efaa ~.layer__2efaa  .sidebar__9e3e2 {
    width: 100%;
}

html #app-mount .layer__2efaa .layer__2efaa ~.layer__2efaa  .sidebarRegion__60457 {
    position: relative;
    flex-grow: 0;
    flex-basis: var(--sidebar-usersettings-width) !important;
    z-index: 2;
}

.sidebarRegionScroller__1fa7e {
    position: absolute;
    height: 100%;
    left: calc(100% - var(--sidebar-usersettings-width));
    width: var(--sidebar-usersettings-width);
    justify-content: flex-start;
    transition: width var(--sidebar-transition-exit);
}

.sidebarRegionScroller__1fa7e:hover {
    width: var(--sidebar-hover-width);
    transition: var(--sidebar-transition-entry);
}

.sidebarRegion__60457+.contentRegion__0bec1 {
    transition: -webkit-transform var(--sidebar-transition-exit), transform var(--sidebar-transition-exit);
}

.sidebarRegion__60457:hover+.contentRegion__0bec1 {
    transform: translateX(calc(var(--slide-window-on-hover) * (var(--sidebar-hover-width) - var(--sidebar-usersettings-width))));
    transition: -webkit-transform var(--sidebar-transition-entry), transform var(--sidebar-transition-entry);
}

.sidebar__9e3e2 .info__755e1>*,
.sidebar__9e3e2 .socialLinks_c1fc99 {
    white-space: nowrap;
}

.userInfo__8f826 {
    flex-wrap: wrap;
}

.userInfo__8f826 {
    min-height: 72;
    height: unset;
}

.userSettingsVoice__33015 .children_b15c64 .flex_f5fbb7>.flexChild__6e093 {
    flex: 1 0 190px !important;
}

.buttonContainer__0dac8 {
    width: unset;
    max-width: 300px;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.buttonContainer__0dac8>button {
    min-width: fit-content;
    max-width: calc(150px - 8px);
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 0;
}

.bd-setting-header {
    flex-wrap: wrap;
}

.sessions__3ce76 .sessionMoreButton__055f9 {
    position: absolute;
    top: 12px;
    right: 0;
    display:none;
}

.sessions__3ce76 .session_f56359:hover .sessionMoreButton__055f9 {
    display: block;
}

.sessions__3ce76 .session_f56359 {
    position: relative;
}

.sessions__3ce76 .session_f56359 {
    gap: 12px;
}

.sessions__3ce76 .sessionInfo__9bc47 {
    gap: 0;
}

.sessions__3ce76 .eyebrow_e5a66c.sessionInfoRow_f3c7fd {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    font-family: var(--font-primary);
    text-transform: capitalize;
}

.sessions__3ce76 .text-sm-medium_bc6ffc.sessionInfoRow_f3c7fd {
    color: var(--channels-default);
}

.sessions__3ce76 .sessionIcon__540be {
    background: none;
    color: var(--interactive-normal);
}

.sessions__3ce76 .session_f56359.currentSession__5f5fd .sessionIcon__540be {
    color: var(--status-positive);
}

.children_b15c64 > .session_f56359:last-child {
    border-bottom: none;
    padding-bottom: 0;
}