.layers-OrUESM>.layer-86YKbF.animating-1rIrGV *,
.layers-OrUESM>.layer-86YKbF.animating-1rIrGV {
    pointer-events: auto !important;
    will-change: unset;
}

.sidebar-nqHbhN .side-1lrxIh .item-2GWPIy::before {
    flex-shrink: 0;
}

.contentColumn-1C7as6,
.customColumn-2n-oKU {
    min-width: unset;
    width: 0;
}

html #app-mount .layer-86YKbF.layer-86YKbF~.layer-86YKbF .sidebar-nqHbhN {
    width: 100%;
}

html #app-mount .layer-86YKbF.layer-86YKbF~.layer-86YKbF .sidebarRegion-1VBisG {
    position: relative;
    flex-grow: 0;
    flex-basis: var(--sidebar-usersettings-width) !important;
    z-index: 2;
}

.sidebarRegionScroller-FXiQOh {
    position: absolute;
    height: 100%;
    left: calc(100% - var(--sidebar-usersettings-width));
    width: var(--sidebar-usersettings-width);
    justify-content: flex-start;
    transition: width var(--sidebar-transition-exit);
}

.sidebarRegionScroller-FXiQOh:hover {
    width: var(--sidebar-hover-width);
    transition: var(--sidebar-transition-entry);
}

.sidebarRegion-1VBisG+.contentRegion-3HkfJJ {
    transition: -webkit-transform var(--sidebar-transition-exit), transform var(--sidebar-transition-exit);
}

.sidebarRegion-1VBisG:hover+.contentRegion-3HkfJJ {
    transform: translateX(calc(var(--slide-window-on-hover) * (var(--sidebar-hover-width) - var(--sidebar-usersettings-width))));
    transition: -webkit-transform var(--sidebar-transition-entry), transform var(--sidebar-transition-entry);
}

.sidebar-nqHbhN .info-3pQQBb>*,
.sidebar-nqHbhN .socialLinks-3ywLUf {
    white-space: nowrap;
}

.userInfo-regn9W {
    flex-wrap: wrap;
}

.userInfo-regn9W {
    min-height: 72;
    height: unset;
}

.userSettingsVoice-1fEtsL .children-1xdcWE .flex-2S1XBF>.flexChild-3PzYmX {
    flex: 1 0 190px !important;
}

.buttonContainer-cmXa0P {
    width: unset;
    max-width: 300px;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.buttonContainer-cmXa0P>button {
    min-width: fit-content;
    max-width: calc(150px - 8px);
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 0;
}

.bd-setting-header {
    flex-wrap: wrap;
}

.sessions-2KZ0-Q .sessionMoreButton-2cApSx {
    position: absolute;
    top: 12px;
    right: 0;
    display:none;
}

.sessions-2KZ0-Q .session-9khLqt:hover .sessionMoreButton-2cApSx {
    display: block;
}

.sessions-2KZ0-Q .session-9khLqt {
    position: relative;
}

.sessions-2KZ0-Q .session-9khLqt {
    gap: 12px;
}

.sessions-2KZ0-Q .sessionInfo-HxfESS {
    gap: 0;
}

.sessions-2KZ0-Q .eyebrow-Ejf06y.sessionInfoRow-pEX9fY {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    font-family: var(--font-primary);
    text-transform: capitalize;
}

.sessions-2KZ0-Q .text-sm-medium-3Pz3rB.sessionInfoRow-pEX9fY {
    color: var(--channels-default);
}

.sessions-2KZ0-Q .sessionIcon-2fwSzb {
    background: none;
    color: var(--interactive-normal);
}

.sessions-2KZ0-Q .session-9khLqt.currentSession-1g_u10 .sessionIcon-2fwSzb {
    color: var(--status-positive);
}

.children-1xdcWE > .session-9khLqt:last-child {
    border-bottom: none;
    padding-bottom: 0;
}