@media (max-width: 485px) {
    .fullscreenOnMobile__05784:not(.detailsAdded-fHiJlm) {
        top: unset;
    }

    .root_a28985 .quickswitcher_b5bb0a,
    .container_a35729,
    .container_f8ef5d {
        width: 100%;
    }

    .operations__62559 {
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        left: 0;
        justify-content: center;
    }

    .imageWrapper__178ee>.downloadLink_d6df2d {
        width: max-content;
    }

    .modal_d2e7a7.root_a28985.fullscreenOnMobile__05784 {
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100%;
        pointer-events: none;
    }

    .modal_d2e7a7.root_a28985.fullscreenOnMobile__05784>div {
        pointer-events: auto;
    }

    .modeSelected__473f1 .wrapper__612a5 {
        background-color: var(--background-modifier-selected);
    }
}
