@media (max-width: 485px) {
    .fullscreenOnMobile__96797:not(.detailsAdded-fHiJlm) {
        top: unset;
    }

    .root_a28985 .quickswitcher_a3d29a,
    .container_f03f1d,
    .container_dc03c3 {
        width: 100%;
    }

    .operations__07224 {
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        left: 0;
        justify-content: center;
    }

    .imageWrapper_fd6587>.downloadLink_e5ebe9 {
        width: max-content;
    }

    .modal_d2e7a7.root_a28985.fullscreenOnMobile__96797 {
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100%;
        pointer-events: none;
    }

    .modal_d2e7a7.root_a28985.fullscreenOnMobile__96797>div {
        pointer-events: auto;
    }

    .modeSelected__487d6 .wrapper__7bcde {
        background-color: var(--background-modifier-selected);
    }
}