.sidebar-1tnWFu {
    overflow: hidden;
}

.bar-wDIGjg {
    white-space: nowrap;
}

.layout-1qmrhw .wrappedName-1GzMwB {
    white-space: nowrap;
}

.sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ>.children-1MGS9G {
    margin-left: calc(((min(var(--float-sidebar-width), 96) - min(var(--float-sidebar-width), 97)) + 1) * 32px);
    transition: margin-left var(--sidebar-transition-exit);
}

.sidebar-1tnWFu:hover .wrapper-NhbLHG .content-1gYQeQ>.children-1MGS9G {
    margin-left: 0;
    transition: margin-left var(--sidebar-transition-entry);
}

/* .wrapper-1_HaEi:hover+div.base-2jDfDU .wrapper-NhbLHG .content-1gYQeQ>.children-1MGS9G {
    --capped-sidebar-width: min(var(--float-sidebar-width), 96);
    --cap-sidebar-exceeded: calc(min(var(--float-sidebar-width), 97) - var(--capped-sidebar-width));
    margin-left: calc((var(--capped-sidebar-width) / var(--capped-sidebar-width) - var(--cap-sidebar-exceeded)) * 32px);
} */

#app-mount .app-3xd6d0 .sidebar-1tnWFu {
    position: absolute;
    z-index: 101;
    height: 100%;
    width: -webkit-fit-content;
    width: fit-content;
    -webkit-transition: width var(--sidebar-transition-exit);
    transition: width var(--sidebar-transition-exit);
}

.platform-win #app-mount .sidebar-1tnWFu {
    border-top-right-radius: var(--sidebar-border-radius);
}

#app-mount .app-3xd6d0 .animatedContainer-2laTjx,
.bannerImage-ubW8K-,
.bannerImg-2PzH6z {
    width: 100%;
}

.sidebar-1tnWFu .channel-1Shao0 {
    max-width: unset;
}

.container-2giAcK {
    white-space: nowrap;
}

.platform-win .sidebar-1tnWFu+div,
.platform-win .sidebar-1tnWFu~.chat-2ZfjoI
.platform-win .sidebar-1tnWFu~.container-2cd8Mz {
    border-top-left-radius: var(--sidebar-border-radius);
}

.sidebar-1tnWFu:hover .privateChannels-oVe7HL .closeButton-mupH76 {
    -webkit-animation: floatChannelDmsPrivateChannelsCloseButton var(--sidebar-transition-duration) var(--sidebar-hover-delay) forwards;
    animation: floatChannelDmsPrivateChannelsCloseButton var(--sidebar-transition-duration) var(--sidebar-hover-delay) forwards;
}

.sidebar-1tnWFu>* {
    width: var(--float-sidebar-width-px);
    -webkit-transition: width var(--sidebar-transition-exit);
    transition: width var(--sidebar-transition-exit);
}

.base-2jDfDU .content-1SgpWY .sidebar-1tnWFu:hover>* {
    width: var(--sidebar-hover-width);
    -webkit-transition: width var(--sidebar-transition-entry);
    transition: width var(--sidebar-transition-entry);
}

.sidebar-1tnWFu+div,
.sidebar-1tnWFu~.chat-2ZfjoI,
.sidebar-1tnWFu~.container-2cd8Mz {
    margin-left: calc(min(1, var(--float-sidebar-width)) * (var(--float-sidebar-width-px) + var(--sidebar-window-gap)));
    transition: -webkit-transform var(--sidebar-transition-exit), transform var(--sidebar-transition-exit);
}

.sidebar-1tnWFu:hover+div,
.sidebar-1tnWFu:hover~.chat-2ZfjoI,
.sidebar-1tnWFu:hover~.container-2cd8Mz {
    -webkit-transform: translateX(calc(var(--slide-window-on-hover) * (var(--sidebar-hover-width) - var(--float-sidebar-width-px) + (var(--slide-window-on-hover) * (1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-window-gap)))));
    transform: translateX(calc(var(--slide-window-on-hover) * (var(--sidebar-hover-width) - var(--float-sidebar-width-px) + (var(--slide-window-on-hover) * (1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-window-gap)))));
    transition: -webkit-transform var(--sidebar-transition-entry), transform var(--sidebar-transition-entry);
}

.wrapper-1_HaEi:hover+.base-2jDfDU .sidebar-1tnWFu>* {
    width: calc((min(var(--float-sidebar-width), 1) * (var(--float-sidebar-width) * 1px)) + ((1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-hover-width)));
    -webkit-transition: width var(--sidebar-transition-entry);
    transition: width var(--sidebar-transition-entry);
}

.wrapper-1_HaEi:hover+.base-2jDfDU .sidebar-1tnWFu+div,
.wrapper-1_HaEi:hover+.base-2jDfDU .sidebar-1tnWFu~.chat-2ZfjoI,
.wrapper-1_HaEi:hover+.base-2jDfDU .sidebar-1tnWFu~.container-2cd8Mz {
    -webkit-transform: translateX(calc(var(--slide-window-on-hover) * ((min(var(--float-sidebar-width), 1) * (min(var(--float-sidebar-width), 0) * 1px)) + ((1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-hover-width) + (var(--slide-window-on-hover) * (1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-window-gap))))));
    transform: translateX(calc(var(--slide-window-on-hover) * ((min(var(--float-sidebar-width), 1) * (min(var(--float-sidebar-width), 0) * 1px)) + ((1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-hover-width) + (var(--slide-window-on-hover) * (1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-window-gap))))));
    transition: -webkit-transform var(--sidebar-transition-entry), transform var(--sidebar-transition-entry), margin-left var(--sidebar-transition-entry);
}

.sidebar-1tnWFu .privateChannels-oVe7HL,
.sidebar-1tnWFu .privateChannels-oVe7HL+.panels-3wFtMD,
.sidebar-1tnWFu>.thin-31rlnD,
.sidebar-1tnWFu>.thin-31rlnD+.panels-3wFtMD {
    width: calc(min(1, var(--float-sidebar-width)) * (var(--float-sidebar-width-px) + 17px));
}

.sidebar-1tnWFu+.container-2cd8Mz,
.sidebar-1tnWFu+.applicationStore-2nk7Lo,
.sidebar-1tnWFu+.pageWrapper-2PwDoS {
    margin-left: calc(min(1, var(--float-sidebar-width)) * (var(--float-sidebar-width-px) + var(--sidebar-window-gap) + 17px));
    transition: -webkit-transform var(--sidebar-transition-exit), transform var(--sidebar-transition-exit), margin-left var(--sidebar-transition-exit);
}

.sidebar-1tnWFu:hover+.container-2cd8Mz,
.sidebar-1tnWFu:hover+.applicationStore-2nk7Lo,
.sidebar-1tnWFu:hover+.pageWrapper-2PwDoS {
    margin-left: calc(min(1, var(--float-sidebar-width)) * (var(--float-sidebar-width-px) + var(--sidebar-window-gap) + 0px + (1 - var(--slide-window-on-hover)) * (min(var(--float-sidebar-width), 1)) * 17px));
    transition: -webkit-transform var(--sidebar-transition-entry), transform var(--sidebar-transition-entry), margin-left var(--sidebar-transition-entry);
}

.wrapper-1_HaEi:hover+.base-2jDfDU .sidebar-1tnWFu .privateChannels-oVe7HL,
.wrapper-1_HaEi:hover+.base-2jDfDU .sidebar-1tnWFu .privateChannels-oVe7HL+.panels-3wFtMD,
.wrapper-1_HaEi:hover+.base-2jDfDU .sidebar-1tnWFu>.thin-31rlnD,
.wrapper-1_HaEi:hover+.base-2jDfDU .sidebar-1tnWFu>.thin-31rlnD+.panels-3wFtMD {
    width: calc((min(var(--float-sidebar-width), 1) * ((var(--float-sidebar-width) + 17) * 1px)) + ((1 - min(var(--float-sidebar-width), 1)) * var(--sidebar-hover-width)));
}