.topic__16ae3 {
    flex-grow: 0;
}

.container__11d72,
.children__32014 .iconWrapper_af9215>svg {
    -webkit-app-region: drag;
}

.toolbar__88c63>*,
.platform-win .topicClickTarget_eeb305,
.cursorPointer__5116a.title__9e2b0,
.sidebarRegion__60457,
.closeButton__34341,
.menu_dc52c6 {
    -webkit-app-region: no-drag;
}

.container__11d72 .children__32014 .iconWrapper_af9215 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__11d72 .children__32014 .icon__4cb88 {
    width: 20px;
    height: 20px;
    -webkit-app-region: no-drag;
}

.container__11d72 .children__32014 .divider_c09b64 {
    display: none;
}

#app-mount .container__11d72 .children__32014:after {
    display: none;
}

.container__11d72.themed_b152d4 .topic__16ae3.expandable_ddf73d {
    opacity: var(--topic-opacity);
}

#app-mount .sidebar_ded4b5+div:not(.container__5c7e7) .container__11d72:not(.transparent__7f3e0) .toolbar__88c63>div:nth-last-child(-n+2),
#app-mount .sidebar_ded4b5~.chat__52833 .container__11d72:not(.transparent__7f3e0) .toolbar__88c63>div:nth-last-child(-n+2) {
    order: 1;
}

#app-mount .toolbar__88c63 .iconWrapper_af9215:nth-last-child(4) {
    order: 3;
}

#app-mount .toolbar__88c63 .search__07df0 {
    order: 2;
}

.toolbar__88c63 .search__07df0 {
    margin: 0 4px;
}

.searchBar_e0c60b .public-DraftEditorPlaceholder-inner {
    color: var(--text-muted);
}

.searchBar_e0c60b .icon_f50f05 {
    color: var(--interactive-normal)
}

#app-mount .toolbar__88c63 .searchBar_e0c60b {
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    -webkit-transition: width .25s ease;
    transition: width .25s ease;
}

#app-mount .toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b {
    background-color: transparent;
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b {
    box-shadow: none;
    cursor: pointer;
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b .iconLayout__9fbb1 {
    cursor: pointer;
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b:hover .icon_f50f05 {
    color: var(--interactive-hover);
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b:active .icon_f50f05,
.toolbar__88c63 .search_ac353c.open_d3ab4e .searchBar_e0c60b .icon_f50f05 {
    color: var(--interactive-active);
}

#app-mount .toolbar__88c63 .search_ac353c.open_d3ab4e .searchBar_e0c60b {
    display: flex;
    width: 240px;
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b:hover {
    background-color: var(--background-modifier-hover);
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b:active {
    background-color: var(--background-modifier-active);
}

.toolbar__88c63 .searchBar_e0c60b>.icon__46425 {
    order: -1;
}

.toolbar__88c63 .search_ac353c .DraftEditor-root {
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 100%;
}

.toolbar__88c63 .search_ac353c .DraftEditor-root .DraftEditor-editorContainer {
    width: 100%;
}

.toolbar__88c63 .search_ac353c .DraftEditor-root .public-DraftEditor-content::-webkit-scrollbar {
    display: none;
}

.toolbar__88c63 .search_ac353c .DraftEditor-root .public-DraftEditor-content,
.search_ac353c .DraftEditor-root .public-DraftEditorPlaceholder-root {
    padding-bottom: 0;
}

.toolbar__88c63 .search_ac353c .searchBar_e0c60b .iconContainer__8fa9c {
    -webkit-transition: width .25s ease, height .25s ease;
    transition: width .25s ease, height .25s ease;
}

.toolbar__88c63 .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b .iconContainer__8fa9c {
    width: 18px;
    height: 18px;
}

.search_ac353c .DraftEditor-root .public-DraftEditorPlaceholder-root {
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

.toolbar__88c63 .search_ac353c.open_d3ab4e .DraftEditor-root .public-DraftEditorPlaceholder-root {
    opacity: 1;
}

.toolbar__88c63 a[href="https://support.discord.com"] {
    display: none;
}

.container__11d72:not(.transparent__7f3e0) .toolbar__88c63>div:not(:nth-last-child(-n+4)),
.sidebar_ded4b5+div:not(.container__5c7e7) .container__11d72:not(.transparent__7f3e0) .toolbar__88c63>div:nth-last-child(-n+2),
.sidebar_ded4b5~.chat__52833 .container__11d72:not(.transparent__7f3e0) .toolbar__88c63>div:nth-last-child(-n+2) {
    display: var(--toolbar-visibility);
}

.container__11d72:not(.transparent__7f3e0) .toolbar__88c63:hover>div:not(:nth-last-child(-n+4)),
.sidebar_ded4b5+div:not(.container__5c7e7) .container__11d72:not(.transparent__7f3e0) .toolbar__88c63:hover>div:nth-last-child(-n+2),
.sidebar_ded4b5~.chat__52833 .container__11d72:not(.transparent__7f3e0) .toolbar__88c63:hover>div:nth-last-child(-n+2),
.sidebar_ded4b5+div:not(.container__5c7e7) .container__11d72:not(.transparent__7f3e0) .toolbar__88c63>div.selected_be2668,
.sidebar_ded4b5~.chat__52833 .container__11d72:not(.transparent__7f3e0) .toolbar__88c63>div.selected_be2668 {
    display: flex;
}

.toolbar__88c63 {
    -webkit-app-region: no-drag;
}

.container__11d72:not(.transparent__7f3e0) .toolbar__88c63 .iconWrapper_af9215 {
    width: 28px;
    height: 28px;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__11d72:not(.transparent__7f3e0) .toolbar__88c63 .iconWrapper_af9215 .icon__4cb88 {
    width: 20px;
    height: 20px;
}