.topic__16ae3 {
    flex-grow: 0;
}

.container__26baa,
.children_cde9af .iconWrapper_de6cd1>svg {
    -webkit-app-region: drag;
}

.toolbar__62fb5>*,
.platform-win .topicClickTarget_f06d56,
.cursorPointer__3707a.title__84e16,
.sidebarRegion__36437,
.closeButton__8177f,
.menu__088f7 {
    -webkit-app-region: no-drag;
}

.container__26baa .children_cde9af .iconWrapper_de6cd1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__26baa .children_cde9af .icon_ae0b42 {
    width: 20px;
    height: 20px;
    -webkit-app-region: no-drag;
}

.container__26baa .children_cde9af .divider_bdb894 {
    display: none;
}

#app-mount .container__26baa .children_cde9af:after {
    display: none;
}

.container__26baa.themed_b152d4 .topic__16ae3.expandable__8804d {
    opacity: var(--topic-opacity);
}

#app-mount .sidebar_e031be+div:not(.container_bd15da) .container__26baa:not(.transparent__8d0a5) .toolbar__62fb5>div:nth-last-child(-n+2),
#app-mount .sidebar_e031be~.chat__52833 .container__26baa:not(.transparent__8d0a5) .toolbar__62fb5>div:nth-last-child(-n+2) {
    order: 1;
}

#app-mount .toolbar__62fb5 .iconWrapper_de6cd1:nth-last-child(4) {
    order: 3;
}

#app-mount .toolbar__62fb5 .search__07df0 {
    order: 2;
}

.toolbar__62fb5 .search__07df0 {
    margin: 0 4px;
}

.searchBar__5a20a .public-DraftEditorPlaceholder-inner {
    color: var(--text-muted);
}

.searchBar__5a20a .icon__5c8c7 {
    color: var(--interactive-normal)
}

#app-mount .toolbar__62fb5 .searchBar__5a20a {
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    -webkit-transition: width .25s ease;
    transition: width .25s ease;
}

#app-mount .toolbar__62fb5 .search_ac353c:not(.open_d3ab4e) .searchBar__5a20a {
    background-color: transparent;
}

.toolbar__62fb5 .search_ac353c:not(.open_d3ab4e) .searchBar__5a20a {
    box-shadow: none;
    cursor: pointer;
}

.toolbar__62fb5 .search_ac353c:not(.open_d3ab4e) .searchBar__5a20a .iconLayout__9d9a4 {
    cursor: pointer;
}

.toolbar__62fb5 .search_ac353c:not(.open_d3ab4e) .searchBar__5a20a:hover .icon__5c8c7 {
    color: var(--interactive-hover);
}

.toolbar__62fb5 .search_ac353c:not(.open_d3ab4e) .searchBar__5a20a:active .icon__5c8c7,
.toolbar__62fb5 .search_ac353c.open_d3ab4e .searchBar__5a20a .icon__5c8c7 {
    color: var(--interactive-active);
}

#app-mount .toolbar__62fb5 .search_ac353c.open_d3ab4e .searchBar__5a20a {
    display: flex;
    width: 240px;
}

.toolbar__62fb5 .search_ac353c:not(.open_d3ab4e) .searchBar__5a20a:hover {
    background-color: var(--background-modifier-hover);
}

.toolbar__62fb5 .search_ac353c:not(.open_d3ab4e) .searchBar__5a20a:active {
    background-color: var(--background-modifier-active);
}

.toolbar__62fb5 .searchBar__5a20a>.icon__53a5c {
    order: -1;
}

.toolbar__62fb5 .search_ac353c .DraftEditor-root {
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 100%;
}

.toolbar__62fb5 .search_ac353c .DraftEditor-root .DraftEditor-editorContainer {
    width: 100%;
}

.toolbar__62fb5 .search_ac353c .DraftEditor-root .public-DraftEditor-content::-webkit-scrollbar {
    display: none;
}

.toolbar__62fb5 .search_ac353c .DraftEditor-root .public-DraftEditor-content,
.search_ac353c .DraftEditor-root .public-DraftEditorPlaceholder-root {
    padding-bottom: 0;
}

.toolbar__62fb5 .search_ac353c .searchBar__5a20a .iconContainer__9f124 {
    -webkit-transition: width .25s ease, height .25s ease;
    transition: width .25s ease, height .25s ease;
}

.toolbar__62fb5 .search_ac353c:not(.open_d3ab4e) .searchBar__5a20a .iconContainer__9f124 {
    width: 18px;
    height: 18px;
}

.search_ac353c .DraftEditor-root .public-DraftEditorPlaceholder-root {
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

.toolbar__62fb5 .search_ac353c.open_d3ab4e .DraftEditor-root .public-DraftEditorPlaceholder-root {
    opacity: 1;
}

.toolbar__62fb5 a[href="https://support.discord.com"] {
    display: none;
}

.container__26baa:not(.transparent__8d0a5) .toolbar__62fb5>div:not(:nth-last-child(-n+4)),
.sidebar_e031be+div:not(.container_bd15da) .container__26baa:not(.transparent__8d0a5) .toolbar__62fb5>div:nth-last-child(-n+2),
.sidebar_e031be~.chat__52833 .container__26baa:not(.transparent__8d0a5) .toolbar__62fb5>div:nth-last-child(-n+2) {
    display: var(--toolbar-visibility);
}

.container__26baa:not(.transparent__8d0a5) .toolbar__62fb5:hover>div:not(:nth-last-child(-n+4)),
.sidebar_e031be+div:not(.container_bd15da) .container__26baa:not(.transparent__8d0a5) .toolbar__62fb5:hover>div:nth-last-child(-n+2),
.sidebar_e031be~.chat__52833 .container__26baa:not(.transparent__8d0a5) .toolbar__62fb5:hover>div:nth-last-child(-n+2),
.sidebar_e031be+div:not(.container_bd15da) .container__26baa:not(.transparent__8d0a5) .toolbar__62fb5>div.selected__1fc53,
.sidebar_e031be~.chat__52833 .container__26baa:not(.transparent__8d0a5) .toolbar__62fb5>div.selected__1fc53 {
    display: flex;
}

.toolbar__62fb5 {
    -webkit-app-region: no-drag;
}

.container__26baa:not(.transparent__8d0a5) .toolbar__62fb5 .iconWrapper_de6cd1 {
    width: 28px;
    height: 28px;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__26baa:not(.transparent__8d0a5) .toolbar__62fb5 .iconWrapper_de6cd1 .icon_ae0b42 {
    width: 20px;
    height: 20px;
}
