.content__01e65>.container_f79ab4 {
    margin-left: var(--float-members-width);
}

.members__573eb {
    width: 100%;
}

.member_aa4760 {
    max-width: 100%;
}

/* BANDAID */
#app-mount .content__01e65>.membersWrap__5ca6b:not(:hover) {
    position: relative;
}

#app-mount .membersWrap__5ca6b {
    position: absolute;
    right: 0;
    min-width: unset;
    width: var(--float-members-width);
    height: 100%;
    transition: var(--members-transition-calc-exit);
}

#app-mount .membersWrap__5ca6b:hover {
    width: var(--members-hover-width);
    transition: var(--members-transition-calc-entry);
}

.content__01e65>.container_f79ab4 .membersWrap__5ca6b:hover {
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}

#app-mount .ChannelDms-channelmembers-wrap {
    width: var(--float-members-width);
    transition: var(--members-transition-calc-exit);
}

.ChannelDms-channelmembers-wrap:hover {
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    transition: var(--members-transition-calc-entry);
}

.ChannelDms-channelmembers-wrap .container_f79ab4,
.ChannelDms-channelmembers-wrap .privateChannels__9b518 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.ChannelDms-channelmembers-wrap .privateChannels__9b518 {
    height: calc(100% - 45px);
}

.ChannelDms-channelmembers-wrap .membersWrap__5ca6b,
.ChannelDms-channelmembers-wrap .privateChannels__9b518 {
    width: var(--float-members-width);
    transition: var(--members-transition-calc-exit);
}

#app-mount .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header {
    position: absolute;
    right: 0;
    width: var(--float-members-width);
    transition: var(--members-transition-calc-exit);
}

#app-mount .ChannelDms-channelmembers-wrap:hover .ChannelDms-channelmembers-header,
.ChannelDms-channelmembers-wrap:hover .membersWrap__5ca6b,
.ChannelDms-channelmembers-wrap:hover .privateChannels__9b518 {
    width: var(--members-hover-width);
    transition: var(--members-transition-calc-entry);
}

.ChannelDms-channelmembers-header .item__48dda {
    margin: 0 2px;
    transition: margin var(--members-transition-duration) ease;
}

.ChannelDms-channelmembers-wrap:hover .ChannelDms-channelmembers-header .item__48dda {
    margin: 0 8px;
    transition: margin var(--members-transition-duration) var(--members-hover-delay) ease;
}

.ChannelDms-channelmembers-wrap .channel__0aef5 {
    max-width: unset;
}

.privateChannels__9b518 .closeButton__116c3 {
    width: 0;
    margin: 0;
    padding-right: 0;
}

.ChannelDms-channelmembers-wrap:hover .privateChannels__9b518 .closeButton__116c3 {
    animation: floatChannelDmsPrivateChannelsCloseButton var(--members-transition-duration) var(--members-hover-delay) forwards;
}

@keyframes floatChannelDmsPrivateChannelsCloseButton {
    to {
        width: 16px;
        margin: 2px;
        padding-right: 8px;
    }
}

html #MemberCount {
    width: 100%;
}
