.content_a7d72e>.container_cbd271 {
    margin-left: var(--float-members-width);
}

.members_cbd271 {
    width: 100%;
}

.member_a31c43 {
    max-width: 100%;
}

/* BANDAID */
#app-mount .content_a7d72e>.membersWrap_cbd271:not(:hover) {
    position: relative;
}

#app-mount .membersWrap_cbd271 {
    position: absolute;
    right: 0;
    min-width: unset;
    width: var(--float-members-width);
    height: 100%;
    transition: var(--members-transition-calc-exit);
}

#app-mount .membersWrap_cbd271:hover {
    width: var(--members-hover-width);
    transition: var(--members-transition-calc-entry);
}

.content_a7d72e>.container_cbd271 .membersWrap_cbd271:hover {
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
}

#app-mount .ChannelDms-channelmembers-wrap {
    width: var(--float-members-width);
    transition: var(--members-transition-calc-exit);
}

.ChannelDms-channelmembers-wrap:hover {
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    transition: var(--members-transition-calc-entry);
}

.ChannelDms-channelmembers-wrap .container_cbd271,
.ChannelDms-channelmembers-wrap .privateChannels_f0963d {
    position: absolute;
    right: 0;
    bottom: 0;
}

.ChannelDms-channelmembers-wrap .privateChannels_f0963d {
    height: calc(100% - 45px);
}

.ChannelDms-channelmembers-wrap .membersWrap_cbd271,
.ChannelDms-channelmembers-wrap .privateChannels_f0963d {
    width: var(--float-members-width);
    transition: var(--members-transition-calc-exit);
}

#app-mount .ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header {
    position: absolute;
    right: 0;
    width: var(--float-members-width);
    transition: var(--members-transition-calc-exit);
}

#app-mount .ChannelDms-channelmembers-wrap:hover .ChannelDms-channelmembers-header,
.ChannelDms-channelmembers-wrap:hover .membersWrap_cbd271,
.ChannelDms-channelmembers-wrap:hover .privateChannels_f0963d {
    width: var(--members-hover-width);
    transition: var(--members-transition-calc-entry);
}

.ChannelDms-channelmembers-header .item_a0 {
    margin: 0 2px;
    transition: margin var(--members-transition-duration) ease;
}

.ChannelDms-channelmembers-wrap:hover .ChannelDms-channelmembers-header .item_a0 {
    margin: 0 8px;
    transition: margin var(--members-transition-duration) var(--members-hover-delay) ease;
}

.ChannelDms-channelmembers-wrap .channel_c91bad {
    max-width: unset;
}

.privateChannels_f0963d .closeButton_c91bad {
    width: 0;
    margin: 0;
    padding-right: 0;
}

.ChannelDms-channelmembers-wrap:hover .privateChannels_f0963d .closeButton_c91bad {
    animation: floatChannelDmsPrivateChannelsCloseButton var(--members-transition-duration) var(--members-hover-delay) forwards;
}

@keyframes floatChannelDmsPrivateChannelsCloseButton {
    to {
        width: 16px;
        margin: 2px;
        padding-right: 8px;
    }
}

html #MemberCount {
    width: 100%;
}
