.cozy_ec86aa .contents_ec86aa .header_ec86aa {
    display: flex;
}

.cozy_ec86aa .headerText_ec86aa {
    min-width: 0;
    white-space: nowrap;
    display: flex;
}

.cozy_ec86aa .headerText_ec86aa .username_ec86aa {
    display: block;
    text-overflow: ellipsis;
    flex: 1 1;
}

.cozy_ec86aa .timestampInline_ec86aa {
    white-space: nowrap;
    margin-top: 1px;
}

.cozy_ec86aa .headerText_ec86aa .PI-indicatorContainer {
    margin-top: 1px;
}

.message_d5deea {
    padding-right: 12px !important;
}
