.cozy_f5c119 .contents_f41bb2 .header__39b23 {
    display: flex;
}

.cozy_f5c119 .headerText_f47574 {
    min-width: 0;
    white-space: nowrap;
    display: flex;
}

.cozy_f5c119 .headerText_f47574 .username_d30d99 {
    display: block;
    text-overflow: ellipsis;
    flex: 1 1;
}

.cozy_f5c119 .timestampInline__470e0 {
    white-space: nowrap;
    margin-top: 1px;
}

.cozy_f5c119 .headerText_f47574 .PI-indicatorContainer {
    margin-top: 1px;
}

.message__80c10 {
    padding-right: 12px !important;
}