.searchResultsWrap_c2b47d {
    position: absolute;
    top: -2px;
    right: 16px;
    max-width: 90%;
    max-height: 80%;
    border-radius: 4px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-high);
    box-shadow: var(--elevation-stroke), var(--elevation-high);
    z-index: 1002;
}

.container_de9d09 {
    position: sticky;
    bottom: 0;
    background-color: var(--background-secondary);
    z-index: 1;
}
