.buttonContainer__8b164:not(#sendAudioButtons):not(.send-button) .button_afdfd9[aria-label]:not(.apateEncryptionKeyButton) .button_f0455c:not(.stickerButton__8af38) {
    display: var(--textarea-buttons-gif);
}

.stickerButton__8af38 {
    display: var(--textarea-buttons-sticker);
}

.buttons_ce5b56>.button_afdfd9:not(.BD-TeX-plugin-button)> :not(.translateButton-DhP9x8) {
    display: var(--textarea-buttons-gift);
}