.toolbar-3_r2xA {
    display: none;
}

.wrapper-1_HaEi {
    width: 0 !important;
}

html.platform-osx #app-mount .base-2jDfDU {
    top: 0 !important;
}

html.platform-osx .children-3xh0VB {
    left: 56px;
}

.base-2jDfDU {
    border-radius: 0 !important;
}